.tile {
    margin: 8;
    background-color: #FFFFFF;
}

.reportsGrid {
    margin: 8 8 0 8;
}

.categoriesChart {
    margin: 8 30 0 30;
}

.blockContainer {
    background-color: #FFFFFF;
    margin: 16 0 8 0;
}

.blockLabel {
    color: #0079FF;
    margin: 16 0 16 16;
}