.title {
    font-size: 18;
    margin: 16 16 0 16;
}

.total {
    font-size: 18;
    margin: 16 16 0 16;
    horizontal-align: right;
}

.subTitle {
    font-size: 10;
    color: #828282;
    margin: 0 16 0 16;
}

.reportsGrid {
}

.categoriesChart {
    background-color: #EEEEEE;
}

.expensesListView {
    background-color: #FFFFFF;
}

.category {
    width: 5;
}

.itemCost {
    font-size: 16;
    margin: 0 16 0 16;
    vertical-align: center;
 }