Page {
    background-color: #EEEEEE;
}

TextView {
    height: 150;
}

ActivityIndicator {
    width: 50;
    height: 50;
}

.date-picker {
    vertical-align: center;
}

.text-button {
    background-color: transparent;
    color: #007AFF;
    horizontal-align: left;
}

.profile-picture {
    height: 54;
    width: 54;
    margin: 24 0 20 0;
    horizontal-align: center;
    border-radius: 27;
    border-width: 2;
    border-color: #595450;
}

.header {
    font-size: 16;
    color: #000000;
}

.tile {
    background-color: #FFFFFF;
    border-color: #DEDDDD;
    border-width: 1;
    margin: 0 8 8 8;
    padding: 8;
}

.report-chart {
    width: 200;
    height: 200;
}

.item-header {
    font-size: 16;
    color: #000000;
}

.item-content {
    font-size: 11;
    color: #828282;
}

.status-label {
    font-size: 11;
    horizontal-align: right;
    color: #828282;
}

.status-icon {
    horizontal-align: right;
}

.block {
    background-color: #FFFFFF;
    color: #007AFF;
    border-color: #DEDDDD;
    border-width: 1;
    font-size: 14;
}

.repeater-item {
    background-color: #FFFFFF;
    border-width: 1;
    border-color: #DEDDDD;
    padding: 8 16 8 16;
    margin-top: -1;
}

.message {
    color: #000000;
}

.date {
    color: #DEDDDD;
}

.title {
    font-size: 24;
    color: #000000;
}

.details-label {
    font-size: 13;
    color: #828282;
}

.bold-label {
    font-size: 21;
    font-weight: bold;
    color: #000000;
}

.item-bold-label {
    font-size: 17;
    font-weight: bold;
    color: #000000;
    vertical-align: center;
}

.item-label {
    font-size: 17;
    color: #000000;
}

.item-details-label {
    font-size: 12;
    color: #828282;
}

.list-view {
    background-color: #FFFFFF;
}

.category {
    width: 5;
}

.separator {
    height: 2;
    background-color: #828282;
}

.root {
    padding: 16;
}

.remove-button {
    horizontal-align: left;
    background-color: transparent;
    color: #FF4350;
}

.image {
    margin: 16 16 0 16;
}


.header-image { 
    margin-bottom: 16;
}

.item-container {
    color: #000000;
    padding: 16;
}

.item-container-selected {
    background-color: #007AFF;
    color: #FFFFFF;
    padding: 16;
}

.clear-button {
    background-color: #FDEFCA;
}
