@import url("~/app-common.css");

TextView {
    height: 80;
}

.primary-button {
    margin: 30 16 16 16;
    color: #FFFFFF;
    background-color: #007AFF;
}

.secondary-button {
    margin: 30 16 16 16;
    color: #007AFF;
    background-color: #FFFFFF;
}

.delete-button {
    margin: 30 16 16 16;
    color: #FF0000;
    background-color: #FFFFFF;
}

.text-button {
    margin-left: 6;
}

.fab {
    margin: 0 16 28 0;
}

.fab-container {
    vertical-align: bottom;
    horizontal-align: right;
}

.header {
    margin: 16;
}

.tile {
    margin: 0 8 8 8;
    padding: 8;
}

.categories-chart {
}

.reports-grid {
    padding: 0 8 8 8;
}


.item-header {
}

.item-content {
}

.block {
    padding: 8 16 8 16;
    margin-bottom: 8;
    height: 38;
    vertical-align: center;
}

.label {
    margin: 8 16 8 16;
    color: #000000;
}

.switch {
    margin: 8 16 8 16;
}

.repeater-item {
    padding: 8 16 8 16;
    margin-top: -1;
}

.root {
    padding: 16;
}

.item-container {
    margin: 8 16 8 11;
}

.picker-header {
    color: #828282;
    font-size: 12;
}

.picker-container {
    margin-bottom: 8;
}

.picker-value {
    font-size: 16;
    color: #000000;
}

.picker {
    margin: 0 5 5 5;
}