ActivityIndicator {
    horizontal-align: center;
    vertical-align: center;
}

Page {
    background-color: #EEEEEE;
}

TextField {
    vertical-align: bottom;
    font-size: 17;
    margin-bottom: 6;
}

TextView {
    font-size: 17;
    height: 150;
}

Switch, Label {
    margin: 8 16 8 16;
}

.textFieldContainer {
    background-color: #FFFFFF;
    height: 44;
    padding: 0 16 6 16;
}

.textViewContainer {
    background-color: #FFFFFF;
    margin-top: 10;
    padding: 0 16 0 16;
}

.firstTextFieldContainer {
    background-color: #FFFFFF;
    height: 44;
    margin-top: 10;
    padding: 0 16 6 16;
}

.statusIcon {
    margin: 8 8 0 0;
}

.icon {
    margin: 0;
}

.header {
    font-size: 16;
    margin: 16 16 0 16;
}

.itemTitle {
    font-size: 16;
    margin: 5 5 0 5;
}

.itemSubTitle {
    font-size: 10;
    color: #828282;
    margin: 0 5 0 5;
}

.itemSubTitleLast {
    font-size: 10;
    color: #828282;
    margin: 0 5 5 5;
}

.primaryButton {
    background-color: #FFFFFF;
    color: #0079FF;
    margin: 30 0 16 0;
    height: 44;
}

.secondaryButton {
    background-color: #FFFFFF;
    color: #0079FF;
    margin: 30 0 16 0;
    height: 44;
}

.infoLabel {
    font-size: 10;
}

.imageButtonContainer {
    padding: 8 16 8 16;
    height: 44;
    background-color: #0079FF;
}

.imageButtonIcon {
    margin: 0 10 0 0;
    vertical-align: center;
}

.imageButtonText {
    color: #FFFFFF;
    margin: 0;
    vertical-align: center;
}

.pickerContainer {
    background-color: #FFFFFF;
    padding: 0 16 10 16;
    height: 44;
}

.pickerLabel {
    font-size: 16;
    margin: 0;
}

.pickerValue {
    color: #8F8F8F;
    font-size: 16;
    margin: 0;
}

.pickerIcon {
    vertical-align: center;
}

.pickerBorder {
    background-color: #D1D1D1;
    height: 1;
    vertical-align: bottom;
}
