ActivityIndicator {
    horizontal-align: center;
    vertical-align: center;
}

Page {
    background-color: #EEEEEE;
}

.icon {
    width: 24;
    height: 24;
    margin: 5;
}

.header {
    font-size: 18;
    margin: 16 16 8 16;
}

.itemHeader {
    font-size: 16;
    margin: 5 5 0 5;
}

.itemSubHeader {
    color: #828282;
    margin: 0 5 5 5;
}

.fab
{
    width: 60;
    height: 60;
    margin: 12 12 18 12;
}

.fabContainer
{
    vertical-align: bottom;
    horizontal-align: right;
}