ActivityIndicator {
    horizontal-align: center;
    vertical-align: center;
}

Page {
    background-color: #EEEEEE;
}

TextField, TextView {
    margin: 0 16 0 16;
}

Switch, Label {
    margin: 8 16 8 16;
}

.firstTextField {
    margin: 16 16 0 16;
}

.icon {
    width: 24;
    height: 24;
}

.header {
    font-size: 18;
    margin: 16 16 8 16;
}

.itemTitle {
    font-size: 16;
    margin: 5 5 0 5;
}

.itemSubTitle {
    font-size: 10;
    color: #828282;
    margin: 0 5 0 5;
}

.itemSubTitleLast {
    font-size: 10;
    color: #828282;
    margin: 0 5 5 5;
}

.fab {
    width: 60;
    height: 60;
    margin: 12 12 18 12;
}

.fabContainer {
    vertical-align: bottom;
    horizontal-align: right;
}

.primaryButton {
    background-color: #0079FF;
    color: #FFFFFF;
    margin: 32 16 16 16;
}

.secondaryButton {
    background-color: #FFFFFF;
    color: #0079FF;
    margin: 32 16 16 16;
}

.infoLabel {
    font-size: 10;
}

.imageButtonContainer {
    margin: 16;
}
